<!DOCTYPE html>
<html>

<head>


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link rel="stylesheet" href="/CSS/style.css">
  <script src="https://kit.fontawesome.com/44d4c0900f.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<div class="row containerRow">
  <div class="left leftContainer"></div>

  <div class="rcontainer right">

    <div class=" row rflex">
      <div class="col s12 right">
        <div class="col s2 m1 l1 hexagon white-text valign-wrapper right ">
          <p>A</p>
        </div>
        <div class="col s2 m1 l1 hexagon white-text valign-wrapper right ">
          <p>P</p>
        </div>
        <div class="col s2 m1 l1 hexagon white-text valign-wrapper right ">
          <p>C</p>
        </div>
      </div>
    </div>
    <div class="image-fade"></div>
  </div>


</div>

<body>

  {{{body}}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>