<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link
    href="https://fonts.googleapis.com/css2?family=Notable&family=Allura&family=Monoton&family=Shrikhand&display=swap"
    rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="/CSS/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>Andrew's Portfolio</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill w-100">
  <a class="navbar-brand" href="/">Andrew's Portfolio</a>
  <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class=" ml-auto navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

    </ul>
  </div>
</nav>

<body>
  <main class="container-fluid">
    {{{body}}}

  </main>

  <footer class="footer bg-dark">
    <div class="container-fluid text-center">
      <div class="row mx-auto">
        <div class="col-5 text-left footer-contact">
          <div>
            <p style=" margin:0">atmurray.fullstack@gmail.com</p>
          </div>
          <div>
            <p>(470)265-9858</p>
          </div>

        </div>
        <div class="col-7 text-left " style="display: inline-block">

          <a target="_blank" href="https://github.com/atmurray-fullstack"><img src="/images/github_black.png"
              style="height: 40px; height:40px"></a>

          <a target="_blank" href="https://www.linkedin.com/in/andrew-murray-7b9b195b/"><img src="/images/linkedIn.png"
              style="height: 50px; height:50px"></a>
          <a target="_blank"
            href="https://drive.google.com/file/d/1F2pbTpznDsifhXGTu2a_CuD_ebsFzk24/view?usp=sharing"><img
              src="/images/resume.png" style="height: 40px; height:40px"></a>



        </div>
      </div>
    </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>