<div class="row containerRow">
    <div class="left leftContainer">
        <div class="row">
            <div class="col s6 first-name">
                <p>Andrew</p>
            </div>
            <div class="col s4 offset-s6 last-name ">
                <p class = "fullstack-index text-flow cursive">Fullstack</p>
                <p>Murray</p>
            </div>
        </div>

    </div>

    <div class="rcontainer right">

        {{!-- <div class=" row rflex">
            <div class="col s12 right">
                <div class="col s1 m1 l1 hexagon white-text valign-wrapper right ">
                    <a>
                        <p>About</p>
                    </a>
                </div>
                <div class="col s1 m1 l1 hexagon white-text valign-wrapper right ">
                    <a>
                        <p>Portfolio</p>
                    </a>
                </div>
                <div class="col s1 m1 l1 hexagon white-text valign-wrapper right ">
                    <a>
                        <p>Contact</p>
                    </a>
                </div>
            </div>
        </div> --}}

        <div class="image-fade"></div>
    </div>


</div>