<div class="row">
    <div class="col-sm-4 leftContainer">
        <div class="row">
            <p class="first-name">Andrew</p>
        </div>

        <div class="row listRow">

            <ul class="lang-list">
                <li class="lang-list-item">Html</li>
                <li class="lang-list-item">CSS</li>
                <li class="lang-list-item">JavaScript</li>
                <li class="lang-list-item">Node.js</li>
                <li class="lang-list-item">MYSQL/MongoDB</li>
                <li class="lang-list-item">React</li>
            </ul>
        </div>

    </div>
    <div class="col-sm-8 rcontainer">
        <p class="last-name">Murray</p>
        <p class="fullstack-index cursive">Fullstack</p>

    </div>
</div>





{{!-- <div class="row containerRow">
    <div class="left leftContainer">
        <div class="row">
            <div class="col s6 first-name">
                <p>Andrew</p>
            </div>
            <div class="col s4 offset-s6 last-name ">
                <p class="fullstack-index text-flow cursive">Fullstack</p>
                <p>Murray</p>
            </div>
        </div>

    </div>

    <div class="rcontainer right">
        <div class="image-fade"></div>
    </div>
</div> --}}