<div class="background text-center">
    <div class="row project-row mx-auto mt-5 text-center">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center card-container">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img-fluid" src="/images/mealtime.png" alt="mealTime Project"
                            style="width:100%; height:100%;  border-radius:4%;">

                    </div>
                    <div class="flip-card-back">
                        <p>Fullstack Application</p>
                        <a href="https://fathomless-temple-07681.herokuapp.com/">
                            <p>Deployed App<img src="/images/hiclipart.com.png" style="height: 25px;width:25px;"></p>
                        </a>
                        <a href="https://github.com/atmurray-fullstack/MealTime-Group5">
                            <p>Github Repo <img src="/images/github.png" style="height: 25px;width:25px;"></p>
                        </a>

                    </div>
                </div>
            </div>
            <h4>MealTime</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center mt-2 card-container">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/exchange_screenshot.png" alt="Crypto Exchange Project"
                            style="width:100%; height:100%; border-radius:4%;">

                    </div>
                    <div class="flip-card-back">
                        <p>JavaScript, Materialize, 3p API</p>
                        <a href="https://mazdamike.github.io/Cryptocurrency-Exchange-and-News-Tracker/">
                            <p>Deployed App<img src="/images/github.png" style="height: 25px;width:25px;"></p>
                        </a>
                        <a href="https://github.com/mazdamike/Cryptocurrency-Exchange-and-News-Tracker">
                            <p>Github Repo <img src="/images/github.png" style="height: 25px;width:25px;"></p>
                        </a>
                    </div>
                </div>
            </div>
            <h4>CryptoExchange</h4>


        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center mt-2 card-container">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/burger.png" alt="mealTime Project"
                            style="width:100%; height:100%; border-radius:4%;">
                    </div>
                    <div class="flip-card-back">
                        <p>Express-Handlebars</p>
                        <p>MYSQL</p>
                        <a href="https://frozen-badlands-38453.herokuapp.com/">
                            <p>Deployed App<img src="/images/hiclipart.com.png" style="height: 25px;width:25px;"></p>
                        </a>
                        <a href="https://github.com/atmurray-fullstack/Murrays-Burgers-restaurant-app">
                            <p>Github Repo <img src="/images/github.png" style="height: 25px;width:25px;"></p>
                        </a>
                    </div>
                </div>
            </div>
            <h4>Murray's Burger Joint</h4>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center mt-2 card-container">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/weather_screenshot.png" alt="Express Notetaker"
                            style="width:100%; height:100%; border-radius:4%;">
                    </div>
                    <div class="flip-card-back">
                        <p>Bootstrap, JavaScript, jQuery</p>
                        <a href="https://atmurray-fullstack.github.io/Weather-Forecast-Info-app/">
                            <p>Deployed App<img src="/images/github.png" style="height: 25px;width:25px;"></p>
                        </a>
                        <a href="https://github.com/atmurray-fullstack/Weather-Forecast-Info-app">
                            <p>Github Repo <img src="/images/github.png" style="height: 25px;width:25px;"></p>
                        </a>>
                    </div>
                </div>
            </div>
            <h4>Weather Forecast</h4>

        </div>
    </div>

    <div class="row bottom-div">
        <div class="col-sm-5 comments">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sign and Comment</span>
                </div>
                <input id="commentName" type="text" aria-label="Name" class="form-control">
                <input id="comment" type="text" aria-label="Comment" class="form-control">
                <button id="commentSubmit" type="button" class="btn btn-warning">Submit</button>
            </div>
        </div>
        <div class="col-sm-7 text-center">
           {{#each comments}}
           <p style="color: orange;">{{this}}</p>
           {{/each}}

        </div>

    </div>

</div>
</div>
<script src="/js/portfolio.js"></script>