<div class="background">
    <div class="row project-row mx-auto">
        <div class="col-sm-3 text-center">
            <p>MealTime</p>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/mealtime.png" alt="mealTime Project" style="width:100%; border-radius:4%;">
                        <p>MealTime Planning App</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>MealTime</h1>
                        <p>Fullstack Application</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 text-center">
            <p>Exchange</p>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/exchange_screenshot.png" alt="mealTime Project"
                            style="width:100%; border-radius:4%;">
                        <p>MealTime Planning App</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>Crypto Exchange</h1>
                        <p>Application utilizing api calls</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 text-center">
            <p>Hello World</p>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/mealtime.png" alt="mealTime Project" style="width:100%; border-radius:4%;">
                        <p>MealTime Planning App</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>MealTime</h1>
                        <p>Fullstack Application</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 text-center">
            <p>Hello World</p>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/mealtime.png" alt="mealTime Project" style="width:100%; border-radius:4%;">
                        <p>MealTime Planning App</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>MealTime</h1>
                        <p>Fullstack Application</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row bottom-div">

    </div>
</div>