<div class="background text-center">
    <h2>Click the images to see github/heroku links</h2>
    <div class="row project-row mx-auto mt-3 text-center">
        <div class="col-sm-3 col-md-6 col-lg-3 text-center mt-2">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="img-fluid" src="/images/mealtime.png" alt="mealTime Project"
                            style="width:100%; height:100%;  border-radius:4%;">
                        
                    </div>
                    <div class="flip-card-back">
                        <h1>MealTime</h1>
                        <p>Fullstack Application</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
            <h4>MealTime Fullstack App</h4>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-3 text-center mt-2">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/exchange_screenshot.png" alt="mealTime Project"
                            style="width:100%; height:100%; border-radius:4%;">
                    
                    </div>
                    <div class="flip-card-back">
                        <h1>Crypto Exchange</h1>
                        <p>Application utilizing api calls</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
            <h4>CryptoExchange API App</h4>


        </div>
        <div class="col-sm-3 col-md-6 col-lg-3 text-center mt-2">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/burger.png" alt="mealTime Project"
                            style="width:100%; height:100%; border-radius:4%;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Murray's Burger Joint</h1>
                        <p>Fullstack Application</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
            <h4>Murray's Burger Joint</h4>
            <br>
            <h4>Handlebars</h4>

        </div>
        <div class="col-sm-3 col-md-6 col-lg-3 text-center mt-2">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/mealtime.png" alt="mealTime Project"
                            style="width:100%; height:100%; border-radius:4%;">
                    </div>
                    <div class="flip-card-back">
                        <h1>MealTime</h1>
                        <p>Fullstack Application</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row bottom-div">

    </div>
</div>