.container{

}
.leftContainer{
  /* width:20vw; */
  background:white;
}
.rcontainer{
  color: white;
  background-color: #111111;
  background-image: url('/images/tng.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height:95vh;
  width: 100%;
  clip-path: polygon(48% 0, 100% 0%, 100% 100%, 0% 100%);
}


.first-name{
  position: absolute;
  font-size: 10vw;
  font-weight: bolder;
  top:8vh;
  left:4vw;
}
.last-name{
  color: white;
  position: relative;
  font-size: 11vw;
  font-weight: bolder;
  top: 40vh;
  left: 20vw;

}

.fullstack-index{
  position: absolute;
  bottom:1vh;
  right: 10vw;
  color: orange;
  font-size: 5rem;
}

.cursive{
  font-family: 'Allura', cursive;
}
.listRow{
  position: absolute;
  bottom: 20vh;
  left:5vw;
}
.lang-list-item{
  color: #C2C1C0;
  font-size: 1.40rem;
}

@media only screen and (min-width:590px ){
  .last-name{
    color: white;
    position: absolute;
    font-size: 11vw;
    font-weight: bolder;
    top: 40vh;
    left: 20vw;
    }
}
@media only screen and (max-width:590px ){
  .last-name{
    color: white;
    position: absolute;
    font-size: 15vw;
    font-weight: bolder;
    top: 40vh;
    left: 35vw;
    }
}
@media only screen and (max-width:590px ){
  .listRow{
    position: absolute;
    font: 16px;
    top: 18vh;
    left:5vw;
   
    }
}
/* @media only screen and (max-width:990px ){
  #navbarToggler{
   position:absolute;
   right: 50vw;
   
   
    }
}

#navbarToggler{
  position:absolute;
  right:3vw;
} */


