.navbar{
  margin-bottom:0px;

}
.containerRow{
  height: 100vh;
  display: inline-flex;
  margin: 0px;
}
.row{
  padding: 0px;
  margin: 0px;
}
.rflex{
position:absolut;
 
}

.leftContainer{
  width:20vw;
  background:white;
}
.rcontainer{
  overflow: hidden;
  background-color: #111111;

  height:100vh;
  width:80vw;
  /* background: #111111; */
  clip-path: polygon(48% 0, 100% 0%, 100% 100%, 0% 100%);
}
.image-fade{
  position: fixed;
  background-image: url("/images/tongue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  opacity: .1;

}
.hexagon{
  
  position: relative;
  background:white;
  margin: 5px;
  margin-right: 10px;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  padding:0;
}
.hexagon p{
  color: #111111;
}
.first-name{
  position: absolute;
  font-size: 10vw;
  font-weight: bolder;
  top:8vh
}
.last-name{
  z-index: 9999;
  color: white;
  position: absolute;
  font-size: 11vw;
  font-weight: bolder;
  top: 30vh;
  left: 1vw;
}

.fullstack-index{
  position: relative;
  top:10vh;
  left: -15vw;
  color: orange;
  font-size: 40%;
  /* transform: rotate(-57deg); */
}

.cursive{
  font-family: 'Allura', cursive;
}
@media only screen and (max-width:850px ){
  .fullstack-index{
    position: relative;
    top:5vh;
    left: -15vw;
    color: orange;
    font-size: 60%;
    /* transform: rotate(-57deg); */
  }
}
