.containerRow{
  height: 100vh;
}
.rflex{
position:absolut;
 
}

.leftContainer{
  width:20vw;
  background:white;
}
.rcontainer{
  overflow: hidden;
  background-color: #111111;

  height:100vh;
  width:80vw;
  /* background: #111111; */
  clip-path: polygon(48% 0, 100% 0%, 100% 100%, 0% 100%);
}
.image-fade{
  position: fixed;
  background-image: url("/images/tongue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: .1;

}
.hexagon{
  
  position: relative;
  background:white;
  margin: 5px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding:0;
}
.hexagon p{
  color: #111111;
}
